<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="string_key_hexFileName" value="C:\ble_nrf51\tandd\nrf51\examples\ble_peripheral\sdk10_K\ble_appK08S\pca10028\s110\arm5\_build\nrf51422_xxac_s110.hex" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>