<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>    
    <section name="MySection"
        type="testAppConfig.MySectionHandler, dfu" />
  </configSections>
  <MySection type="testAppConfig.MySection, dfu">
    <Name>--MySection-Nico--</Name>
    <FirstName>--MySection-pyright--</FirstName>
  </MySection>
  
  
  <appSettings>
    <add key="name" value="pyright"/>
    <add key="firstname" value="nico"/>
    <add key="greeting" value="Hallo world!" />
  </appSettings>
  
</configuration>
